@model RimDev.Releases.ViewModels.Releases.IndexViewModel
@{
  ViewData["Title"] = "Latest releases";
}

@Html.Partial("_Header")

<div class="container">
  @if (Model.NotEmpty) {
    @foreach(var release in Model.Releases) {
    var ReleaseType = release.GetReleaseStatus();
    if (release.HasRelease) {
    <div class="row release">
      <div class="col-sm-12 col-md-2 release-flags">
        <span class="label label-@ReleaseType.ToLower()">@ReleaseType</span>
        <div class="text-muted"><span class="octicon octicon-calendar"></span> @release.CreatedAt</div>
        <div class="text-muted"><span class="octicon octicon-tag"></span> @release.Release.TagName</div>
        <img class="avatar" src="@(release.Release.Author.AvatarUrl)?v=3&s=32" alt="@(release.Release.Author.Login)" title="@(release.Release.Author.Login)">
      </div><!-- /.release-flags -->

      <div class="col-sm-12 col-md-10 release-col">
        <h3 class="text-muted"><span class="octicon octicon-repo"></span> @release.Description</h3>
        <h3 class="text-muted">@release.Title</h3>
        <div class="release-body">
          @await Html.MarkdownAsync(release.FullName, release.Body)
        </div><!-- /.release-body -->
      </div><!-- /.release-col -->
    </div><!-- /.row release-->
    }
  }
} else {
  @Html.Partial("_empty")
}
</div><!-- /.container -->
