@model RimDev.Releases.ViewModels.Releases.ShowViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid header-title">
  <div class="container">
    <h1>
      Company Name
    </h1>
  </div><!-- /.container -->
</div><!-- /.container-fluid -->
<header class="container-fluid">
  <div class="container">
    <h4 class="text-muted"><span class="octicon octicon-repo"></span> Repository Name</h4>
    @Html.Partial("_repositories", new RimDev.Releases.Models.GitHubRepository())
  </div><!-- /.container -->
</header>

<div class="container">
  @foreach(var release in Model.Releases) {
    <div class="row release">
      <div class="col-md-2 text-right release-flags">
        <span class="btn btn-release">Release</span>
        <div class="text-muted">@release.CreatedAt <span class="octicon octicon-calendar"></span></div>
      <img class="avatar" src="@(release.Release.Author.AvatarUrl)?v=3&s=32" alt="@(release.Release.Author.Login)" title="@(release.Release.Author.Login)">
      </div><!-- /.release-flags -->
      <div class="col-md-10 release-col">
        <h2 class="text-primary">@release.Description</h2>
        <div class="release-body">
        @await Html.MarkdownAsync(release.FullName, release.Body)
        </div><!-- /.release-body -->
      </div><!-- /.release-col -->
    </div><!-- /.release -->
    }
</div><!-- /.container -->
