@model RimDev.Releases.ViewModels.Releases.ShowViewModel
@{
    ViewData["Title"] = "Home Page";
    ViewData["Repository"] = Model.CurrentRepository;
}

@Html.Partial("_Header")

<div class="container">  
  @if (Model.NotEmpty) {
  foreach(var release in Model.Releases) {
    if (release.HasRelease) {
    <div class="row release">
      <div class="col-md-2 release-flags">
        <span class="btn btn-release">@release.GetReleaseStatus()</span>
        <div class="text-muted"><span class="octicon octicon-calendar"></span> @release.CreatedAt</div>
        <div class="text-muted"><span class="octicon octicon-tag"></span> @release.Release.TagName</div>
      <img class="avatar" src="@(release.Release.Author.AvatarUrl)?v=3&s=32" alt="@(release.Release.Author.Login)" title="@(release.Release.Author.Login)">
      </div><!-- /.release-flags -->
      <div class="col-md-10 release-col">
        <h4 class="release-title">@release.Title</h4>
        <div class="release-body">
        @await Html.MarkdownAsync(release.FullName, release.Body)
        </div><!-- /.release-body -->
      </div><!-- /.release-col -->
    </div><!-- /.release -->
    }
  }
  
  <ul class="pager">    
    @if (Model.PreviousPage.HasValue) {
    <li class="previous">
      <a asp-action="show" 
         asp-route-id=@Model.CurrentRepository.FullName 
         asp-route-page=@Model.PreviousPage.Value>
         Previous
      </a>
    </li>
    }
    @if (Model.NextPage.HasValue) {
    <li class="next">
      <a asp-action="show"
         asp-route-id=@Model.CurrentRepository.FullName
         asp-route-page=@Model.NextPage.Value>
         Next
      </a>
    </li>
    }
  </ul>
  
} else {
  @Html.Partial("_empty")
}
</div><!-- /.container -->
