@inject AppSettings AppSettings
@{
  var repository = (ViewData["Repository"] as GitHubRepository) ??  new Stub("All");
}
<div class="container-fluid header-title">
  <div class="container">
      @if (AppSettings.HasLogo && AppSettings.ShowLogoInHeader)
      {
        <div class="header-logo">
          <a asp-controller="releases" asp-action="index">
            <img src="@AppSettings.Logo" alt="@AppSettings.Company">
          </a>
        </div>
      }
      @if (AppSettings.HasCompany && AppSettings.ShowCompanyInHeader)
      {
        <h1>@AppSettings.Company</h1>
      }
  </div><!-- /.container -->
</div><!-- /.container-fluid -->
<header class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4 class="text-muted"><span class="octicon octicon-repo"></span> @repository.Description</h4>
      </div>
      @if (AppSettings.HasEmail)
      {
        <div class="col-md-6 header-email">
            <a class="btn btn-default btn-sm" href="mailto:@AppSettings.Email">
              <strong><span class="octicon octicon-mail"></span> Feedback? </strong>
            </a>
        </div>
      }
    </div>
    <div class="row">
      @Html.Partial("_repositories", repository)
    </div>
  </div><!-- /.container -->
</header>
